{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'blog/css/base.css'%}">
</head>

<body>

<nav>
    <a class="bitcount-single-bit" href="{% url 'view_post' %}">Lenta</a>

    {% if user.is_authenticated %}
        <ul>
            <li>
                <a href="{% url 'profile' id=user.id %}">{{ user.username }}</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">logout</a>
            </li>
        </ul>
    {% else %}
        <ul>
            <li>
                <a href="{% url 'login' %}">login</a>
            </li>
            <li>
                <a href="{% url 'register' %}">register</a>
            </li>
        </ul>
    {% endif %}
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>