
{% load static %}

<script src="{% static 'blog/js/base.js' %}"></script>

<div class="comment-box">
    <div class="comment-container">
        <p>
            <a href="{% url 'profile' id=comment.user.id %}">
                {{ comment.user }}
            </a>
        </p>

        <div class="comment-content">
            <p>{{ comment.content }}</p>
        </div>

        <div class="btn-comment-container">
            <form method="post" action="{% url 'create_comment' %}" class="ajax-form" data-type="comment" data-parent-id="{{ comment.parent.id }}" data-post-id="{{ comment.post.id }}" data-comment-id="{{ comment.id }}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <input type="hidden" name="reply_to" value="{{ comment.id }}">
                <button type="submit">Reply</button>
            </form>
        </div>
    </div>

    <button
        id="btn-comment-container-{{ post.id }}-{{ comment.id }}"
        onclick="showReplies('{{ post.id }}', '{{ comment.id }}')"
        style="width: 100%;"
        {% if not comment.children %} hidden {% endif %}
    >
        Show replies
    </button>
    <div id="comment-container-{{ post.id }}-{{ comment.id }}" hidden>
    {% for child in comment.children %}
        {% include "blog/comment_tree.html" with comment=child post=post form=form %}
    {% endfor %}
    </div>
</div>