{% load static %}

<script src="{% static 'blog/js/base.js' %}"></script>

<div class="comment-box">
    <div class="comment-container">
        <p>
            <a href="{% url 'profile' id=comment.user.id %}">
                {{ comment.user }}
            </a>
        </p>

        <div class="comment-content">
            <p>{{ comment.content }}</p>
        </div>

        <div class="btn-comment-container">
            <form method="post" action="{% url 'add_comment' %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <input type="hidden" name="reply_to" value="{{ comment.id }}">
                <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
                <button type="submit">Reply</button>
            </form>
        </div>
    </div>
    {% if comment.children %}
    <button id="btn-comment-comments-list-container-{{ comment.id }}" onclick="showCommentComments('{{ comment.id }}')" style="width: 100%;">Show replies</button>
    <div id="comment-comments-list-container-{{ comment.id }}" style="display: none; background: ">
    {% for child in comment.children %}
        {% include "blog/comment_tree.html" with comment=child post=post form=form redirect_to=redirect_to %}
    {% endfor %}
    </div>
    {% endif %}
</div>
