{% load static %}


<div class="card">
    <div class="post-container">
        <p>
            <a href="{% url 'profile' id=post.user.id %}">
                {{ post.user.username }}
            </a>
        </p>

        <h3>{{ post.title }}</h3>
        <div class="post-content">
            <p style="white-space: pre-wrap;">{{ post.content }}</p>
        </div>
    </div>

    <div class="btn-like-container">
        <button class="btn-like" id="btn-like-{{ post.id }}" data-post-id="{{ post.id }}" data-user-id="{{ request_user.id }}">
            {% if post.liked %}
                unlike
            {% else %}
                like
            {% endif %}
        </button>
        <span id="label-post-like-{{ post.id }}">{{ post.likes }}</span>
    </div>

    <div class="wrapper-comment-container">
        {% include 'blog/comments.html' with comments=comments post=post comment_form=comment_form %}
    </div>
</div>
