{% load static %}

<script src="{% static 'blog/js/base.js' %}"></script>

<div class="card">
    <div class="post-container">
        <p>
            <a href="{% url 'profile' id=post.user.id %}">
                {{ post.user.username }}
            </a>
        </p>

        <h3>{{ post.title }}</h3>
        <div class="post-content">
            <p style="white-space: pre-wrap;">{{ post.content }}</p>
        </div>

        <form method="post" action="{% url 'add_comment' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="hidden" name="reply_to" value="">
            <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
            <button type="submit">Comment</button>
        </form>
    </div>


    <h4>Comments:</h4>
    <button id="btn-comments-list-container-{{ post.id }}"onclick="showComments('{{ post.id }}')" style="width: 100%;">Show comments</button>
    <div id="comments-list-container-{{ post.id }}" style="display: none;">
        {% for comment in comments %}
            {% include "blog/comment_tree.html" with comment=comment post=post form=form redirect_to=redirect_to %}
        {% endfor %}
    </div>

</div>
