{% load static %}


<div class="card">
    <div class="post-container">
        <p>
            <a href="{% url 'profile' id=post.user.id %}">
                {{ post.user.username }}
            </a>
        </p>

        <h3>{{ post.title }}</h3>
        <div class="post-content">
            <p style="white-space: pre-wrap;">{{ post.content }}</p>
        </div>

        <div class="btn-comment-container">
            <form method="post" action="{% url 'create_comment' %}" class="ajax-form" data-type="comment" data-post-id="{{ post.id }}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <input type="hidden" name="reply_to" value="">
                <button type="submit">Comment</button>
            </form>
        </div>
    </div>
    <div class="btn-like-container">
        <button class="btn-like" id="btn-like-{{ post.id }}" data-post-id="{{ post.id }}" data-user-id="{{ request_user.id }}">
            {% if post.liked %}
                unlike
            {% else %}
                like
            {% endif %}
        </button>
        <span id="label-post-like-{{ post.id }}">{{ post.likes }}</span>
    </div>
    <div id="comment-container-{{ post.id }}">
        {% include 'blog/comments.html' with comments=comments post=post comment_form=comment_form %}
    </div>
</div>
