{% extends "blog/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="card">
    <h2>{{ owner.username }}</h2>

    {% if user.id == owner.id %}
        <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
            <button type="submit">Post</button>
        </form>
    {% endif %}
</div>

<ul style="flex-direction: column;">
    {% for post in posts %}
        <li>
            {% include "blog/post.html" with post=post comments=post.comments form=comment_form redirect_to=redirect_to %}
        </li>
    {% endfor %}
</ul>

{% endblock %}
